/* src/Hourglass.css */
.hourglass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.hourglass {
  animation: rotate 4s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Sand Animations */
#sand-top-mask {
  animation: sandTop 4s infinite linear;
}

#sand-bottom-mask {
  animation: sandBottom 4s infinite linear;
}

#falling-sand {
  animation: fallingSand 4s infinite linear;
}

@keyframes sandTop {
  0% {
    height: 0;
  }
  50% {
    height: 100px;
  }
  50.01% {
    height: 100px;
  }
  100% {
    height: 0;
  }
}

@keyframes sandBottom {
  0% {
    height: 100px;
  }
  50% {
    height: 0;
  }
  50.01% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

@keyframes fallingSand {
  0% {
    opacity: 1;
    y: 95;
    height: 10px;
  }
  50% {
    opacity: 0;
    y: 105;
    height: 0px;
  }
  50.01% {
    opacity: 0;
    y: 95;
    height: 0px;
  }
  100% {
    opacity: 1;
    y: 95;
    height: 10px;
  }
}

.text {
  color: white;
  margin-top: 20px;
  font-size: 1.5em;
}
